* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#navbar-pinterest {
    position: fixed;
    z-index: 5;
    top: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: white;
    width: 100%;
    font-size: larger;
    font-weight: bold;
}

#pinterest-icon {
    width: 2rem;
}

#content {   
    position: absolute;
    margin-top: 5rem;
    column-count: 4;
    column-gap: 10px;
}

.ico {
    width: 3rem;
}
.card-title{
    vertical-align: top;
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    color: whitesmoke;
}

.finder {
    flex-grow: 2;
    outline: none;
    border-radius: 2rem;
    border: 0 rgb(172, 168, 168);
    padding: 1rem 2rem;
    background-color: rgb(234, 234, 234);
}

.active {
    padding: 1rem;
    border-radius: 2rem;
    background-color: black;
    color: white;
}
#profile-img {
    border-radius: 2rem;
    padding: 1rem;    
    background-color: rgb(226, 219, 219);
    color: black;
}

a {
    text-decoration: none;
}
.card-image {
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0 0 1rem 1rem;
    break-inside: avoid;
    position: relative;
}

.card-image>img {    
    max-width: 100%;
    display: block;
    grid-row: 1 / 1;
    grid-column: 1;
    border-radius: 1rem;
}

.card-image:hover>img {
    filter: brightness(30%);
}
.info {
    display: none;
    position: absolute;
    top: 0;
    width: 90%;
    margin-left: 1rem;
}
.card-image:hover .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
.card-image:hover .card-desc {
    display: inline-block;
}
.info>p {
    color: rgb(255, 255, 255);
}
.save {
    background-color: #e60023;
    padding: 0.7rem;
    border-radius: 1.8rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: whitesmoke;
}
.card-desc {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}

.card-bottom {
    background-color: rgba(240, 255, 255, 0.7);
    border-radius: 100%;
    padding: 0.2rem;
    margin: 0 1rem 0.5rem 0;
}
@media screen and (max-width:1148px) {
    #content {
        column-count: 3;
    }

    #navbar-pinterest a {
        display: none;
    }

    #navbar-pinterest a:nth-child(1) {
        display: inline-block;
    }

    .finder {
        width: 8rem;
    }

    #navbar-pinterest i {
        display: none;
    }

    #navbar-pinterest i:nth-of-type(1),
    #navbar-pinterest i:nth-of-type(5) {
        display: inline-block;
    }
    .card-title{
        vertical-align: top;
        display: flex;
        font-size: 1rem;
        font-weight: bold;
        color: whitesmoke;
    }
    .ico {
        width: 1.5rem;
    }
    .card-bottom {
        background-color: rgba(240, 255, 255, 0.7);
        border-radius: 100%;
        padding: 0.1rem;
        margin: 0 1rem 0.5rem 0;
    }
    .save {
        background-color: #e60023;
        padding: 0.6rem;
        border-radius: 1.5rem;
        font-size: 1rem;
        font-weight: bold;
        color: whitesmoke;
    }
}

@media screen and (max-width:880px) {
    #content {
        column-count: 3;
    }

    #navbar-pinterest a {
        display: none;
    }

    #navbar-pinterest a:nth-child(1) {
        display: inline-block;
    }

    .finder {
        width: 8rem;
    }

    #navbar-pinterest i {
        display: none;
    }

    #navbar-pinterest i:nth-of-type(1),
    #navbar-pinterest i:nth-of-type(5) {
        display: inline-block;
    }
    .card-title{
        vertical-align: top;
        display: flex;
        font-size: .75rem;
        font-weight: bold;
        color: whitesmoke;
    }
    .ico {
        width: 1.5rem;
    }
    .card-bottom {
        background-color: rgba(240, 255, 255, 0.7);
        border-radius: 100%;
        padding: 0.1rem;
        margin: 0 1rem 0.5rem 0;
    }
    .save {
        background-color: #e60023;
        padding: 0.4rem;
        border-radius: 1rem;
        font-size: .75rem;
        font-weight: bold;
        color: whitesmoke;
    }
}
@media screen and (max-width:720px) {
    #content {
        column-count: 2;
    }
}
